<div class="modal-header">
	<h3>Create a New Transaction</h3>
</div>
<form name="form.orderForm" ng-submit="submitForm()">
	<div class="modal-body">
		<div class="form-group">
			<label>Date of Transaction</label>
			<div class="input-group" datetimepicker ng-model="orderForm.orderDate" options="dpOptions">
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			<p ng-show="form.orderForm.orderDate.$invalid && !form.orderForm.orderDate.$pristine" class="help-block">Date of Transaction is required.</p>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Name of Deceased</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" name="deceasedFirstName" class="form-control" ng-model="orderForm.deceasedFirstName" placeholder="First Name" required />
							<p ng-show="form.orderForm.deceasedFirstName.$invalid && !form.orderForm.deceasedFirstName.$pristine" class="help-block">First Name is required.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" name="deceasedMiddleName" class="form-control" ng-model="orderForm.deceasedMiddleName" placeholder="Middle Name" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" name="deceasedLastName" class="form-control" ng-model="orderForm.deceasedLastName" placeholder="Last Name" required />
							<p ng-show="form.orderForm.deceasedLastName.$invalid && !form.orderForm.deceasedLastName.$pristine" class="help-block">Last Name is required.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Name of Respondent</h3>
			</div>
			<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="respondentFirstName" class="form-control" ng-model="orderForm.respondentFirstName" placeholder="First Name" required />
						<p ng-show="form.orderForm.respondentFirstName.$invalid && !form.orderForm.respondentFirstName.$pristine" class="help-block">First Name is required.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="respondentMiddleName" class="form-control" ng-model="orderForm.respondentMiddleName" placeholder="Middle Name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="respondentLastName" class="form-control" ng-model="orderForm.respondentLastName" placeholder="Last Name" required />
						<p ng-show="form.orderForm.respondentLastName.$invalid && !form.orderForm.respondentLastName.$pristine" class="help-block">Last Name is required.</p>
					</div>
				</div>
			</div>
		</div>
		</div>

		<div class="form-group">
			<label>Service</label>
			<select name="type" 
				class="form-control" 
				ng-model="orderForm.type"
				ng-options="category for category in categories track by category"
				>
				<option value="">---Please select---</option>
			</select>
			<p ng-show="form.orderForm.type.$invalid && !form.orderForm.type.$pristine" class="help-block">Service is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Others'">
			<label>Other Service Type</label>
			<input type="text" name="otherType" class="form-control" ng-model="orderForm.otherType" ng-required="orderForm.category == 'Others'" />
			<p ng-show="form.orderForm.otherType.$invalid && !form.orderForm.otherType.$pristine" class="help-block">Other Service Type is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
			<label>Size</label>
			<select name="paymentMode" 
				class="form-control" 
				ng-model="orderForm.lapidaSize"
				ng-options="size for size in sizes track by size"
				ng-required="orderForm.type == 'Tomb Marker / Lapida'"
				>
				<option value="">---Please select---</option>
			</select>
			<p ng-show="form.orderForm.lapidaSize.$invalid && !form.orderForm.lapidaSize.$pristine" class="help-block">Size is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
			<label>Options</label>
			<select name="paymentMode" 
				class="form-control" 
				ng-model="orderForm.lapidaOption"
				ng-options="lapidaOption for lapidaOption in lapidaOptions track by lapidaOption"
				ng-required="orderForm.type == 'Tomb Marker / Lapida'"
				>
				<option value="">---Please select---</option>
			</select>
			<p ng-show="form.orderForm.lapidaOption.$invalid && !form.orderForm.lapidaOption.$pristine" class="help-block">Options is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
			<label>Name</label>
			<input type="text" name="name" class="form-control" ng-model="orderForm.name" ng-required="orderForm.type == 'Tomb Marker / Lapida'" />
			<p ng-show="form.orderForm.name.$invalid && !form.orderForm.name.$pristine" class="help-block">Name is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
			<label>Date of Birth</label>
			<div class="input-group" datetimepicker ng-model="orderForm.dateOfBirth" options="dpOptions">
                <input type="text" class="form-control" ng-required="orderForm.type == 'Tomb Marker / Lapida'" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			<p ng-show="form.orderForm.dateOfBirth.$invalid && !form.orderForm.dateOfBirth.$pristine" class="help-block">Date of Birth is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
			<label>Date of Death</label>
			<div class="input-group" datetimepicker ng-model="orderForm.dateOfDeath" options="dpOptions">
                <input type="text" class="form-control" ng-required="orderForm.type == 'Tomb Marker / Lapida'" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			<p ng-show="form.orderForm.dateOfDeath.$invalid && !form.orderForm.dateOfDeath.$pristine" class="help-block">Date of Death is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
			<label>Message</label>
			<textarea name="message" class="form-control" ng-model="orderForm.message" ng-required="orderForm.type == 'Tomb Marker / Lapida'"></textarea>
			<p ng-show="form.orderForm.message.$invalid && !form.orderForm.message.$pristine" class="help-block">Message is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Lot Sales'">
			<label>Mode of Payment</label>
			<select name="paymentMode" 
				class="form-control" 
				ng-model="orderForm.paymentMode"
				ng-options="paymentMode for paymentMode in paymentModes track by paymentMode"
				ng-required="orderForm.type == 'Lot Sales'"
				>
				<option value="">---Please select---</option>
			</select>
			<p ng-show="form.orderForm.paymentMode.$invalid && !form.orderForm.paymentMode.$pristine" class="help-block">Mode of Payment is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'">
			<label>Property</label>
			<input type="text" name="property" class="form-control" ng-model="orderForm.property" ng-required="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'" />
			<p ng-show="form.orderForm.property.$invalid && !form.orderForm.property.$pristine" class="help-block">Property is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'">
			<label>Lot Type</label>
			<select name="lotType" 
				class="form-control" 
				ng-model="orderForm.lotType"
				ng-options="location for location in locations track by location"
				ng-required="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'"
				>
				<option value="">---Please select---</option>
			</select>
			<p ng-show="form.orderForm.lotType.$invalid && !form.orderForm.lotType.$pristine" class="help-block">Lot Type is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'">
			<label>Type of Interment</label>
			<select name="intermentType" 
				class="form-control" 
				ng-model="orderForm.intermentType"
				ng-options="serviceType for serviceType in serviceTypes track by serviceType"
				ng-required="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'"
				>
				<option value="">---Please select---</option>
			</select>
			<p ng-show="form.orderForm.intermentType.$invalid && !form.orderForm.intermentType.$pristine" class="help-block">Type of Interment is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment'">
			<label>Date of Interment</label>
			<div class="input-group" datetimepicker ng-model="orderForm.intermentDate" options="dpOptions">
                <input type="text" class="form-control" ng-required="orderForm.type == 'Renewal' || orderForm.type == 'Interment'" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			<p ng-show="form.orderForm.intermentDate.$invalid && !form.orderForm.intermentDate.$pristine" class="help-block">Date of Interment is required.</p>
		</div>

		<div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment'">
			<label>Date of Expiration</label>
			<div class="input-group" datetimepicker ng-model="orderForm.expirationDate" options="dpOptions">
                <input type="text" class="form-control" ng-required="orderForm.type == 'Renewal' || orderForm.type == 'Interment'" check-date/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
			<p ng-show="form.orderForm.expirationDate.$invalid && !form.orderForm.expirationDate.$pristine" class="help-block">Date of Expiration is required.</p>
		</div>

		<div class="form-group">
			<label>Address</label>
			<input type="text" name="address" class="form-control" ng-model="orderForm.address" required />
			<p ng-show="form.orderForm.address.$invalid && !form.orderForm.address.$pristine" class="help-block">Address is required.</p>
		</div>

		<div class="form-group">
			<label>Email Address</label>
			<input type="email" name="email" class="form-control" ng-model="orderForm.email" required />
			<p ng-show="form.orderForm.email.$invalid && !form.orderForm.email.$pristine" class="help-block">Email is required.</p>
		</div>

		<div class="form-group">
			<label>Telephone Number</label>
			<input type="text" name="phoneNumber" class="form-control" ng-model="orderForm.phoneNumber" />
			<p ng-show="form.orderForm.phoneNumber.$invalid && !form.orderForm.phoneNumber.$pristine" class="help-block">Phone Number is required.</p>
		</div>

		<div class="form-group">
			<label>Mobile Number</label>
			<input type="text" name="mobileNumber" class="form-control" ng-model="orderForm.mobileNumber" required />
			<p ng-show="form.orderForm.mobileNumber.$invalid && !form.orderForm.mobileNumber.$pristine" class="help-block">Mobile Number is required.</p>
		</div>

		<div class="form-group">
			<label>Sales</label>
			<input type="number" name="sales" class="form-control" ng-model="orderForm.sales" readonly required />
			<p ng-show="form.orderForm.sales.$invalid && !form.orderForm.sales.$pristine" class="help-block">Sales is required.</p>
		</div>

		<div class="form-group">
			<label>VAT (12%)</label>
			<input type="number" name="vat" class="form-control" ng-model="orderForm.vat" readonly required />
			<p ng-show="form.orderForm.vat.$invalid && !form.orderForm.vat.$pristine" class="help-block">VAT is required.</p>
		</div>

		<div class="form-group">
			<label>Amount</label>
			<input type="number" name="amount" class="form-control" ng-model="orderForm.amount" required />
			<p ng-show="form.orderForm.amount.$invalid && !form.orderForm.amount.$pristine" class="help-block">Amount is required.</p>
		</div>
	</div>
</form>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="form.orderForm.$invalid" ng-click="submitForm()">Submit</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>