<div class="row">
    <div class="col-lg-12">
    	<div class="page-header">
    		<h1 class="pull-left">Add Transaction</h1>
    		<div class="clearfix"></div>
    	</div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<form>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Name of Deceased</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="deceased" class="form-control" ng-model="orderForm.deceasedFirstName" placeholder="First Name" required />
						<p ng-show="form.orderForm.deceasedFirstName.$invalid && !form.orderForm.deceasedFirstName.$pristine" class="help-block">First Name is required.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="deceased" class="form-control" ng-model="orderForm.deceasedMiddleName" placeholder="Middle Name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="deceased" class="form-control" ng-model="orderForm.deceasedLastName" placeholder="Last Name" required />
						<p ng-show="form.orderForm.deceasedLastName.$invalid && !form.orderForm.deceasedLastName.$pristine" class="help-block">Last Name is required.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Name of Respondent</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="deceased" class="form-control" ng-model="orderForm.respondentFirstName" placeholder="First Name" required />
						<p ng-show="form.orderForm.respondentFirstName.$invalid && !form.orderForm.respondentFirstName.$pristine" class="help-block">First Name is required.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="deceased" class="form-control" ng-model="orderForm.respondentMiddleName" placeholder="Middle Name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="deceased" class="form-control" ng-model="orderForm.respondentLastName" placeholder="Last Name" required />
						<p ng-show="form.orderForm.respondentLastName.$invalid && !form.orderForm.respondentLastName.$pristine" class="help-block">Last Name is required.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>