<div class="row">
    <div class="col-lg-12">
    	<div class="page-header">
    		<h1 class="pull-left">Transaction</h1>
    		<div class="clearfix"></div>
    	</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="showCreateNewReceiptForm()">Add AR</button>
            <button type="submit" class="btn btn-primary" ng-disabled="form.orderForm.$invalid" ng-click="submitForm()">Update</button>
            <button class="btn btn-warning" ng-click="back()">Back</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <form name="form.orderForm" ng-submit="submitForm()">
                    <div class="form-group">
                        <label>Date of Transaction</label>
                        <div class="input-group" datetimepicker ng-model="orderForm.orderDate" options="dpOptions">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <p ng-show="form.orderForm.orderDate.$invalid && !form.orderForm.orderDate.$pristine" class="help-block">Date of Transaction is required.</p>
                    </div>
                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Name of Deceased</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="deceasedFirstName" class="form-control" ng-model="orderForm.deceasedFirstName" placeholder="First Name" required />
                                        <p ng-show="form.orderForm.deceasedFirstName.$invalid && !form.orderForm.deceasedFirstName.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="deceasedMiddleName" class="form-control" ng-model="orderForm.deceasedMiddleName" placeholder="Middle Name" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="deceasedLastName" class="form-control" ng-model="orderForm.deceasedLastName" placeholder="Last Name" required />
                                        <p ng-show="form.orderForm.deceasedLastName.$invalid && !form.orderForm.deceasedLastName.$pristine" class="help-block">Last Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Name of Respondent</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="respondentFirstName" class="form-control" ng-model="orderForm.respondentFirstName" placeholder="First Name" required />
                                        <p ng-show="form.orderForm.respondentFirstName.$invalid && !form.orderForm.respondentFirstName.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="respondentMiddleName" class="form-control" ng-model="orderForm.respondentMiddleName" placeholder="Middle Name" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-sm">
                                        <input type="text" name="respondentLastName" class="form-control" ng-model="orderForm.respondentLastName" placeholder="Last Name" required />
                                        <p ng-show="form.orderForm.respondentLastName.$invalid && !form.orderForm.respondentLastName.$pristine" class="help-block">Last Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label>Service</label>
                        <select name="category" 
                            class="form-control" 
                            ng-model="orderForm.type"
                            ng-options="category for category in categories track by category"
                            disabled
                            >
                            <option value="">---Please select---</option>
                        </select>
                        <p ng-show="form.orderForm.type.$invalid && !form.orderForm.type.$pristine" class="help-block">Service is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Others'">
                        <label>Other Service Type</label>
                        <input type="text" name="otherType" class="form-control" ng-model="orderForm.orderDetails.type" ng-required="orderForm.category.name == 'Others'" />
                        <p ng-show="form.orderForm.orderDetails.type.$invalid && !form.orderForm.orderDetails.type.$pristine" class="help-block">Other Transaction Type is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
                        <label>Size</label>
                        <select name="paymentMode" 
                            class="form-control" 
                            ng-model="orderForm.orderDetails.lapidaSize"
                            ng-options="size for size in sizes track by size"
                            ng-required="orderForm.type == 'Tomb Marker / Lapida'"
                            >
                            <option value="">---Please select---</option>
                        </select>
                        <p ng-show="form.orderForm.orderDetails.lapidaSize.$invalid && !form.orderForm.orderDetails.lapidaSize.$pristine" class="help-block">Size is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
                        <label>Options</label>
                        <select name="paymentMode" 
                            class="form-control" 
                            ng-model="orderForm.orderDetails.lapidaOption"
                            ng-options="lapidaOption for lapidaOption in lapidaOptions track by lapidaOption"
                            ng-required="orderForm.type == 'Tomb Marker / Lapida'"
                            >
                            <option value="">---Please select---</option>
                        </select>
                        <p ng-show="form.orderForm.orderDetails.lapidaOption.$invalid && !form.orderForm.orderDetails.lapidaOption.$pristine" class="help-block">Options is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" ng-model="orderForm.orderDetails.name" ng-required="orderForm.type == 'Tomb Marker / Lapida'" />
                        <p ng-show="form.orderForm.orderDetails.name.$invalid && !form.orderForm.orderDetails.name.$pristine" class="help-block">Name is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
                        <label>Date of Birth</label>
                        <div class="input-group" datetimepicker ng-model="orderForm.orderDetails.dateOfBirth" options="dpOptions">
                            <input type="text" class="form-control" ng-required="orderForm.type == 'Tomb Marker / Lapida'" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <p ng-show="form.orderForm.orderDetails.dateOfBirth.$invalid && !form.orderForm.orderDetails.dateOfBirth.$pristine" class="help-block">Date of Birth is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
                        <label>Date of Death</label>
                        <div class="input-group" datetimepicker ng-model="orderForm.orderDetails.dateOfDeath" options="dpOptions">
                            <input type="text" class="form-control" ng-required="orderForm.type == 'Tomb Marker / Lapida'" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <p ng-show="form.orderForm.orderDetails.dateOfDeath.$invalid && !form.orderForm.orderDetails.dateOfDeath.$pristine" class="help-block">Date of Death is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Tomb Marker / Lapida'">
                        <label>Message</label>
                        <textarea name="message" class="form-control" ng-model="orderForm.orderDetails.message" ng-required="orderForm.type == 'Tomb Marker / Lapida'"></textarea>
                        <p ng-show="form.orderForm.orderDetails.message.$invalid && !form.orderForm.orderDetails.message.$pristine" class="help-block">Message is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Lot Sales'">
                        <label>Mode of Payment</label>
                        <select name="paymentMode" 
                            class="form-control" 
                            ng-model="orderForm.orderDetails.paymentMode"
                            ng-options="paymentMode for paymentMode in paymentModes track by paymentMode"
                            ng-required="orderForm.type == 'Lot Sales'"
                            >
                            <option value="">---Please select---</option>
                        </select>
                        <p ng-show="form.orderForm.orderDetails.paymentMode.$invalid && !form.orderForm.orderDetails.paymentMode.$pristine" class="help-block">Mode of Payment is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'">
                        <label>Property</label>
                        <input type="text" name="property" class="form-control" ng-model="orderForm.orderDetails.property" ng-required="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'" />
                        <p ng-show="form.orderForm.orderDetails.property.$invalid && !form.orderForm.orderDetails.property.$pristine" class="help-block">Property is required.</p>
                    </div>

                    <div class="form-group form-group-sm" ng-show="orderForm.type == 'Renewal' || orderForm.category.name == 'Interment' || orderForm.category.name == 'Disinterment'">
                        <label>Lot Type</label>
                        <select name="location" 
                            class="form-control" 
                            ng-model="orderForm.orderDetails.lotType"
                            ng-options="location for location in locations track by location"
                            >
                            <option value="">---Please select---</option>
                        </select>
                        <p ng-show="form.orderForm.orderDetails.lotType.$invalid && !form.orderForm.orderDetails.lotType.$pristine" class="help-block">Lot Type is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment' || orderForm.type == 'Disinterment'">
                        <label>Type of Interment</label>
                        <select name="serviceType" 
                            class="form-control" 
                            ng-model="orderForm.orderDetails.type"
                            ng-options="serviceType for serviceType in serviceTypes track by serviceType"
                            >
                            <option value="">---Please select---</option>
                        </select>
                        <p ng-show="form.orderForm.orderDetails.type.$invalid && !form.orderForm.orderDetails.type.$pristine" class="help-block">Type of Interment is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment'">
                        <label>Date of Interment</label>
                        <div class="input-group" datetimepicker ng-model="orderForm.orderDetails.date" options="dpOptions">
                            <input type="text" class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <p ng-show="form.orderForm.orderDetails.date.$invalid && !form.orderForm.orderDetails.date.$pristine" class="help-block">Date of Interment is required.</p>
                    </div>

                    <div class="form-group" ng-show="orderForm.type == 'Renewal' || orderForm.type == 'Interment'">
                        <label>Date of Expiration</label>
                        <div class="input-group" datetimepicker ng-model="orderForm.orderDetails.expirationDate" options="dpOptions">
                            <input type="text" class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <p ng-show="form.orderForm.orderDetails.expirationDate.$invalid && !form.orderForm.orderDetails.expirationDate.$pristine" class="help-block">Date of Expiration is required.</p>
                    </div>

                    <div class="form-group form-group-sm">
                        <label>Address</label>
                        <input type="text" name="address" class="form-control" ng-model="orderForm.address" required />
                        <p ng-show="form.orderForm.address.$invalid && !form.orderForm.address.$pristine" class="help-block">Address is required.</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label>Email Address</label>
                                <input type="email" name="email" class="form-control" ng-model="orderForm.email" required />
                                <p ng-show="form.orderForm.email.$invalid && !form.orderForm.email.$pristine" class="help-block">Email is required.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label>Telephone Number</label>
                                <input type="text" name="phoneNumber" class="form-control" ng-model="orderForm.phoneNumber" />
                                <p ng-show="form.orderForm.phoneNumber.$invalid && !form.orderForm.phoneNumber.$pristine" class="help-block">Telephone Number is required.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label>Mobile Number</label>
                                <input type="text" name="mobileNumber" class="form-control" ng-model="orderForm.mobileNumber" required />
                                <p ng-show="form.orderForm.mobileNumber.$invalid && !form.orderForm.mobileNumber.$pristine" class="help-block">Mobile Number is required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label>Sales</label>
                                <input type="number" name="sales" class="form-control" ng-model="orderForm.sales" readonly required />
                                <p ng-show="form.orderForm.sales.$invalid && !form.orderForm.sales.$pristine" class="help-block">Sales is required.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label>VAT (12%)</label>
                                <input type="number" name="vat" class="form-control" ng-model="orderForm.vat" readonly required />
                                <p ng-show="form.orderForm.vat.$invalid && !form.orderForm.vat.$pristine" class="help-block">VAT is required.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label>Amount</label>
                                <input type="number" name="amount" class="form-control" ng-model="orderForm.amount" required />
                                <p ng-show="form.orderForm.amount.$invalid && !form.orderForm.amount.$pristine" class="help-block">Amount is required.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Original Receipts</h3>
                    </div>
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>OR Number</th>
                            <th>Date</th>
                            <!--th>Sales</th>
                            <th>VAT (12%)</th-->
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="receipt in receipts">
                            <td>{{ receipt.id }}</td>
                            <td>{{ receipt.orNumber }}</td>
                            <td>{{ receipt.receiptDate | date : 'dd MMM yyyy' }}</td>
                            <!--td>{{ receipt.sales | number : 2 }}</td>
                            <td>{{ receipt.vat | number : 2 }}</td-->
                            <td>{{ receipt.amount | number : 2 }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-buffer">
    <div class="col-lg-12">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="cancel()">Generate OR</button>
            <button type="submit" class="btn btn-primary" ng-disabled="form.orderForm.$invalid" ng-click="submitForm()">Update</button>
            <button class="btn btn-warning" ng-click="back()">Back</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>