<div class="modal-header">
	<h3>Enter OR Number</h3>
</div>
<form name="form.orForm" ng-submit="submitForm()">
	<div class="modal-body">
		<div class="alert alert-danger" ng-show="errorMessage && errorMessage != ''">
            {{ errorMessage }}
        </div>

		<div class="form-group">
			<label class="control-label">OR Number</label>
			<input type="text" name="orNumber" class="form-control" ng-model="orForm.orNumber" required />
			<p ng-show="form.orForm.orNumber.$invalid && !form.orForm.orNumber.$pristine" class="help-block">Address is required.</p>
		</div>
	</div>
</form>
<div class="modal-footer" ng-show="!orForm.id">
	<button type="submit" class="btn btn-primary" ng-disabled="form.orForm.$invalid" ng-click="submitORNumber()" >Submit</button>
	<button class="btn btn-warning" ng-click="closeIssueORForm()">Cancel</button>
</div>