<div class="modal-header">
	<h3>Reset Password</h3>
</div>
<form name="form.userForm" ng-submit="submitForm()">
	<div class="modal-body">
		<div class="form-group">
			<label>Old Password</label>
			<input type="password" name="oldPassword" class="form-control" ng-model="userForm.oldPassword" required />
			<p ng-show="form.userForm.oldPassword.$invalid && !form.userForm.oldPassword.$pristine" class="help-block">Old Password is required.</p>
		</div>

		<div class="form-group">
			<label>New Password</label>
			<input type="password" name="newPassword" class="form-control" ng-model="userForm.newPassword" required />
			<p ng-show="form.userForm.newPassword.$invalid && !form.userForm.newPassword.$pristine" class="help-block">New Password is required.</p>
		</div>

		<div class="form-group">
			<label>Confirm Password</label>
			<input type="password" name="confirmPassword" class="form-control" ng-model="userForm.confirmPassword" required />
			<p ng-show="form.userForm.confirmPassword.$invalid && !form.userForm.confirmPassword.$pristine" class="help-block">Confirm Password is required.</p>
		</div>
	</div>
</form>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" ng-click="submitForm()" ng-show="!userForm.id">Update</button>
	<button class="btn btn-default" ng-click="back()">Cancel</button>
</div>